html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ant-card {
  background-color: #fff;
  margin: 10px 10px;
}

.ant-table {
  margin-top: 10px;
}

.ant-pagination {
  margin-top: 10px;
}
